# build
target/
bin/
build/
out/


*.log


.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Gradle
.gradle/
!gradle-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# Ambiente
.env
*.env
*.properties.local
application-local.properties
application-dev.properties
application-test.properties

# Windows 
Thumbs.db
Desktop.ini
.DS_Store

# Testes
surefire-reports/
test-output/
coverage/
reports/

# Backups 
*.zip
*.rar
*.tar
*.gz
*.bak
